@import "tailwindcss" important;

@custom-variant dark (&:is(.dark *));

@theme {
  --font-fira: "Fira Code", monospace;
}

@layer base {
  button {
    cursor: pointer;
  }
  h1 {
    font-family: "Fira Code", monospace;
    font-size: 48px;
    line-height: 3rem;
  }
  h2 {
    font-family: "Fira Code", monospace;
    font-size: 36px;
    line-height: 3rem;
  }
  h3 {
    font-family: "Fira Code", monospace;
    font-size: 25px;
    line-height: 3rem;
  }
}

@layer components {
  .nav-item {
    font-family: "Fira Code", monospace;
    font-size: 20px;
    line-height: 1.5rem;
    color: #b5b0b0;
  }
}
